
h1 {
  color: rgb(201, 59, 189);
}

h2 {
  width: 300px;
  margin: 1px;
  border: 2px solid green;
  padding: 4px;
  background-color: rgb(164, 233, 111);
}
 

img {
  width: 400px;
  height: 200px;
}

body {
  
  background-color: rgb(191, 203, 221);

}

























